doctype html
html
  head
    title= title  
    link(href='/stylesheets/style.css' rel='stylesheet')
  body
    .antialiased.mx-auto.max-w-screen-lg.m-9
      block content_header
    block content
    block debug