extends ../layout
block content
  .flex.items-center.justify-center
    .max-w-md.w-full
      h2.m-6.text-center.text-3xl
        | Sign up
      form(action='/signup' method='POST')
        input#email-address.w-full.border.border-gray-300.p-3(name='email' type='email' required placeholder='Email address')
        input#password.w-full.border.border-gray-300.p-3(name='password' type='password' required placeholder='Password')
        input#name.w-full.border.border-gray-300.p-3(name='name' type='text' required placeholder='Name')

        .mt-5
          button.w-full.text-white.bg-blue-600.p-3(type='submit') Sign up