@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
  @apply text-5xl;
  @apply font-sans;
  @apply font-black;
}

h2 {
  @apply text-4xl;
  @apply font-bold;
}

h3 {
  @apply text-3xl;
  @apply font-semibold;
}

h4 {
  @apply text-2xl;
  @apply font-medium;
}

h5 {
  @apply text-xl;
  @apply font-normal;
}

.dropdown {
  position: relative;
  display: inline-block;
  @apply rounded;
  @apply p-4;
  @apply border;
  @apply w-48;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  @apply w-48;
  @apply border;
  @apply bg-white;
}

.dropdown-content p {
  @apply p-3;
  @apply border;
}

.dropdown:hover .dropdown-content {
  display: block;
}
